.container {
  display: flex;
  /* align-items: center; */
  gap: 100px;
}
.imageContainer {
  flex: 1;
  height: 500px;
  position: relative;
}
.img {
  object-fit: contain;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.formContainer input,
.formContainer textarea {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 20px;
  background-color: var(--bgsoft);
  color: var(--text);
}
.inputArea {
  /* height: 180px; */
}
.btn {
  border-radius: 5px;
  border: none;
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  cursor: pointer;
}
